<div class="container-fluid  main">

	<div class="main__center d-flex flex-column">

		<div class="main__center__nav d-flex  align-items-center">

			<a href="#">Opinions</a>
			<a href="#">Followers</a>
			<a href="#">Following</a>
		</div>

		<%# here will be all the tweets and stuff %>
		<div class="container-fluid main__center__newsfeed">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quasi porro quod itaque sequi temporibus.
				Temporibus numquam nam autem labore aspernatur, voluptate saepe, veritatis, recusandae eveniet minima quo
				architecto?
			</p>
		</div>
		<%# here will end %>


	</div>
	<div class="main__right d-flex flex-column">
		<div class="main__right__heading d-flex justify-content-center align-items-center">
			<h2>Whom you can follow</h2>
		</div>

		<div class="main__right__whotofollow">
			<div class="follow_these"></div>


		</div>



	</div>


</div>