<%# top navigation with imagage and some functionality %>
<div class="visited">

    <div class="visited__image">
      <p class="text-white"> Main image</p>
    </div>


    <div class="visited__functionality">

        <div class="visited__container">
            <%= link_to  "+", root_path, class: "follow" %>
            <p class="visited__fullname"><%= @user.fullname %></p>
            <span class="visited__username"><%= @user.username %></span>
        </div>

        <div class="visited__opinions">
				
				</div>
        <div class="visited__following"></div>
        <div class="visited__followers"></div>

    </div>

</div>

<%# End of top functionality%>


<div class="container-fluid  main">

<div class="main__center d-flex flex-column">

	<div class="main__center__nav d-flex  align-items-center">
	
			<a href="#">Opinions</a>
			<a href="#">Followers</a>
			<a href="#">Following</a>
	</div>

   <%# here will be all the tweets and stuff %>
			<div class="container-fluid main__center__newsfeed">
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos quasi porro quod itaque sequi temporibus.
	 Temporibus numquam nam autem labore aspernatur, voluptate saepe, veritatis, recusandae eveniet minima quo architecto?
	 </p>
			</div>
		<%# here will end %>


		</div>
		<div class="main__right d-flex flex-column">
			<div class="main__right__heading d-flex justify-content-center align-items-center">
				<h2>Followed by</h2>
			</div>

				<div class="main__right__whotofollow">
					<div class="follow_these"></div>


				</div>



		</div>

 
</div>
