@import "variables";

.mynav{
  min-height: 100vh;;
  width: 20rem;
  background-color: $left-bottom;
   
}

.picture-name{
  height: 8rem;
  width: 20rem;
  background-color:$left-top ;
  display: flex;
  justify-content: center;
  align-items: center;
  color:$names-leftnav;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: $border;
}

.current_user{
text-decoration: none;
color: $bright-ondark;
  &:hover{
    color: #ffffff;
    text-decoration: none;
  }
}

.current_user_img{
  border-radius: 5px;
  height: 6rem;
  width: 6rem;
  margin-right: 1rem;
  object-fit: cover;
  overflow: hidden;
}

.follows{
  height: 6rem;
  width: 100%;
  display: flex;


 
  &__heading{
    color: $bright-ondark;
  }
  &__following{
    flex-grow: 1;
    flex-basis: 0;
   
  }
  &__followers{
 
    flex-grow: 1;
    flex-basis: 0;
  }
  &__count{
      margin: 0;
      padding: 0;
  }
}


.left_navigation{
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;

  &__link{
    font-size: 2rem;
    padding:2rem;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      background-color:$left-top ;
      &:hover svg{
        fill: white;
      }
    }
a{
  color: $muted-text;
  &:hover{
    text-decoration: none;
    color: $main-background;
   
  }
}
   
  }
}