@import "variables";

.mynav{
  
  width: 20rem;
  background-color: $left-bottom;
  
  
}

.picture-name{
  height: 8rem;
  width: 20rem;
  background-color:$left-top ;
  display: flex;
  justify-content: center;
  align-items: center;
  color:$names-leftnav;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: $border;
}

.current_user_img{
  border-radius: 5px;
  height: 6rem;
  width: 6rem;
  margin-right: 1rem;
}

.follows{
  height: 6rem;
  width: 100%;
  display: flex;

  &__following{
    flex-grow: 1;
    flex-basis: 0;
   
  }
  &__followers{
 
    flex-grow: 1;
    flex-basis: 0;
  }
  &__count{
      margin: 0;
      padding: 0;
  }
}


