@import "variables";

.topnav{
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:$nav-bottom;
background: linear-gradient(190deg, $nav-bottom 0%, $nav-top 100%);



  &__right{
  width: 30rem;
  height: 100%;
  display: flex;
  justify-content: flex-end;
 
  }
}


.icon-danceter{
  fill:$main-background;
  height: 6rem;
  width: 6rem;
}

.icon-nav{
  height: 3rem;
  width: 3rem;
  fill:$main-background;


 

}

.navlink{
  width: 8rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;

  &:hover{
    background-color: $nav-top;
  }
}