@import "variables";
.main{
  display: flex;

  &__center{
    flex:1;


    &__nav{
      height: 6rem;
      width: 100%;
     display: flex;
     justify-content: flex-start;
    }

    &__newsfeed{
      background-color: powderblue;
    }
  }


  &__right{
    flex: 0 0 30rem;
    height: 100%;
    


    &__heading{
      height: 6rem;
    
    }

  }
}



.following_img{
  width: 5rem;
  height: 5rem;

  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
  }
}

