@import "variables";

.main{
  display: flex;

  &__center{
    flex:1;


    &__nav{
      height: 6rem;
      background-color: pink;
    }

    &__newsfeed{
      background-color: powderblue;
    }
  }



  &__right{
    flex: 0 0 35rem;
    height: 100%;
    


    &__heading{
      height: 6rem;
     border-bottom: 1px solid $border;
    }

  }
}