@import "variables";

.main{
  display: flex;

  &__center{
    flex:1;


    &__nav{
      height: 6rem;
      width: 100%;
     display: flex;
     justify-content: flex-start;
    }

    &__newsfeed{
      background-color: powderblue;
    }
  }


  &__right{
    flex: 0 0 35rem;
    height: 100%;
    


    &__heading{
      height: 6rem;
    
    }

  }
}