 
$left-top:#1b2a3d;
$left-bottom:#213246;
$nav-bottom:#4d99d3;
$nav-top:#55acef;
$names-leftnav:#999999;
$border:#777777;
$main-background:#f5f6f8;


.bg-left{
  background-color: $left-top;
}

.border_top{
  border-top: 1px solid $names-leftnav;
}

.border_bottom{
  border-bottom:1px solid $names-leftnav;
}

.border_right{
  border-right: 1px solid $names-leftnav;
}
