@import "variables","leftnav","topnav","usershow","authentication","undernav","followers_following";

html {
  font-size: 62.5%;
}

body{
  font-size: 1.6rem !important;
  color: $muted-text !important;
}

a:hover{
text-decoration: none !important;
}
 .container-fluid{
   padding: 0 !important;
   background-color: $main-background;
 }

.visited{
  height: 25rem;
  background-color: $left-top;
  display: flex;

// main image
  &__image{
    width: 100%;
    height: 100%; 
    
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
   }
&__container{
  height: 100%;
}

  &__functionality{
    flex: 0 0 30rem;
    height: 100%;
    background-color: $main-background;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


 
}

.guest__image{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;

    img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
  }
}


.icon-viewuser{
  height: 3rem;
  width: 3rem;
  fill: $muted-text;
  transition: all .3s;

  &:hover{
  fill:white;
  }
}

.opinions_img{
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    overflow: hidden;
  }
}

.mybtn{
  font-size: 1.8rem !important;
  background-color: $nav-top !important;
}

.form-control{
  font-size: 1.8rem !important;
}

.flw_btn{
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  align-items: center;
  color: $muted-text;
  padding: 5px;
  background-color: $text-loud;

  &:hover{
    color: white;
  }
}

.flw_span{
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;

}