<nav class="topnav">
  <div class="logo">
    ceva logo
  </div>
  <div class="right-navigation">
    <a href="#">write a post</a>
    <%= link_to  "logout", logout_path,method: :delete %>
  </div>
</nav>