<nav class="topnav">
  <div class="topnav__logo ml-5">
    ceva logo
  </div>
  <div class="topnav__right mr-5">
    <a href="#">write a post</a>
    <%= link_to  "logout", logout_path, method: :delete %>
  </div>
</nav>