    <div class="main__center__nav d-flex  align-items-center border-bottom border-right">
    <%= link_to  "Opinions", opinions_path,class:"ml-5 undernav_links" %>
    <%= link_to  "My Followers", followers_path,class:"ml-5 undernav_links" %>
    <%= link_to  "My Followingings", following_path,class:"ml-5 undernav_links" %>

    </div>