    <div class="main__center__nav d-flex  align-items-center border-bottom border-right">
    <%= link_to  "Opinions", opinions_path,class:"ml-5" %>
    <%= link_to  "Followers", followers_path,class:"ml-5" %>
    <%= link_to  "Following", following_path,class:"ml-5" %>
    </div>