    <div class="main__center__nav d-flex  align-items-center border-bottom border-right">
      <a class="ml-5" href="#">Opinions</a>
      <a class="ml-5" href="#">Followers</a>
      <a class="ml-5" href="#">Following</a>
    </div>