<!DOCTYPE html>
<html>

<head>
  <title>Danceter Login</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%#stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%# stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('SVG/danceter.svg') %>
 
</head>

<body>
  <div class="container-fluid d-flex px-0">

    <%= yield %>
  
  </div>
  </div>
</body>

</html>